<div class="container footer">
    <div class="row">
        <div class="col-xs-6 footer-left">
            <p>&copy; Copyright 2018 Fur-Bud</p>
        </div>
        <div class="col-xs-6 footer-right">
            <p>Realizacja: Adrian Karaś IT</p>
        </div>
    </div>
</div>