<nav class="navigation" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 logo">
                <a class="navigation-link" href="/">Fur-Bud</a>
            </div>
            <div class="col-xs-8">
                <ul class="navigation-menu">
                    <li><a class="navigation-link" href="o-nas">O Nas</a></li>
                    <li><a class="navigation-link" href="oferta">Oferta</a></li>
                    <li><a class="navigation-link" href="realizacje">Realizacje</a></li>
                    <li><a class="navigation-link" href="kontakt">Kontakt</a></li>
                </ul>
                <div class="hamburger">
                    <a href="#"><img class="hamburger-icon" src="/img/menu.svg"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-menu">
        <a class="close-menu" href="#"><img src="/img/close.svg"></a>
        <ul class="navbar-mobile">
            <li><a href="o-nas">O nas</a></li>
            <li><a href="oferta">Oferta</a></li>
            <li><a href="realizacje">Realizacje</a></li>
            <li><a href="kontakt">Kontakt</a></li>
        </ul>
    </div>
</nav>