<div class="slider">
    <div class="siema">
        <div class="slider-slide" style="background-image: url(/img/header1.jpeg)">
            <div class="slider-slide-content">
                <h2>Budowy domów</h2>
                <p>Zbudujemy Twój wymarzony dom. Nasza oferta obejmuje kompleksową budowę domów jednorodzinnych od fundamentów aż po konstrukcje dachowe.</p>
            </div>
        </div>
        <div class="slider-slide" style="background-image: url(/img/header2.jpeg)">
            <div class="slider-slide-content">
                <h2>Działamy na podkarpaciu</h2>
                <p>Działamy na terenie województwa podkarpackiego oraz przy wcześniejszym ustaleniu w sąsiednich województwach.</p>
            </div>
        </div>
        <div class="slider-slide" style="background-image: url(/img/header4.jpeg)">
            <div class="slider-slide-content">
                <h2>Wieloletnie doświadczenie</h2>
                <p>Naszą firmę charakteryzuje bogate zaplecze sprzętowe, wyszkoleni fachowcy oraz sprawdzone tradycyjne rozwiązania.</p>
            </div>
        </div>
    </div>
    <div class="scroll-icon">
        <img src="/img/scroll.svg">
    </div>
    <!--<button class="prev">prev</button>-->
    <!--<button class="next">next</button>-->
</div>