<div class="header-sub">
    <div class="header-sub-bg <%= className %>" style="background-image: url(/img/<%= image %>)">
        <div class="overlay">
            <h1><%= title %><span class="dot">.</span></h1>
        </div>
    </div>
</div>