<!DOCTYPE html>
<html lang="pl">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
            <%- include('../partials/sub-header', {image: 'header6.jpeg', title: 'Oferta', className: ''}) %>
        </header>
        <main>
            <div class="offer-section1 section">
                <div class="container">
                    <div class="offer-section1-content">
                        <h2>Zakres naszych usług.</h2>
                        <p>
                            Firma Fur-Bud posiada bardzo szeroki zakres wykonywanych usług.
                            W zależności od potrzeb klienta, przyjmujemy zlecenia na prace budowlane
                            kompleksowe (całościowa obsługa obiektów) lub dotyczące poszczególnych
                            elementów sztuki budowlanej (murowanie, konstrukcje dachu, wykładanie płytek).
                        </p>

                        <h3>Szerszy opis wykonywanych przez nas usług:</h3>
                        <ul>
                            <li>Fundamenty - Wykonujemy ławy fundamentowe, stopy i płyty fundamentowe także z piwnicami, pod domy i domki rekreacyjne.</li>
                            <li>Izolacje - Wykonujemy prace hydroizolacyjne m.in. w zakresie izolacji fundamentów.</li>
                            <li>Ściany (murowanie) - Wykonujemy murowanie ścian nośnych oraz ścian działowych.</li>
                            <li>Stropy - Wykonujemy stropy zbrojone tradycyjne wylewane, jak również w systemie płyt czy pustaków stropowych.</li>
                            <li>Dachy - Oferujemy kompleksową obsługę dachów od budowy, podnoszenia dachów, przeróbki, pokrycia dachu przez jego konserwację, remont, naprawę po  rozbiórki dachów. Wykonujemy kompleksowe roboty ciesielskio-dekarskie, budowa więźby dachowej i konstrukcje drewniane, budujemy i remontujemy dachy wszystkich typów. Dachy jednospadowe i wielospadowe, oferujemy cięcie i przeginanie blach, obróbki i wykończenia dekarskie na najwyższym poziomie. Kryjemy dachy dachówką, blachodachówką</li>
                            <li>Płytki - Wszelkie prace związane z wykładaniem płytek, glazury i terakoty, biały montaż.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>

        <script src="/js/mobile-menu.js"></script>
    </body>
</html>